.main_div{
    margin: 0px;
    padding: 0px;
    background-color: #badc58;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.center_div{
    margin-left: 500px;
    width: 22%;
    height: 60vh;
    background-color: white;
    align-items: center;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1{
    color:white;
    background: transparent;
    background-color: #30336b;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: yellow;
}
button{
    min-height: 40px;
    border-radius: 5%;
    border-color: transparent;
    background-color: #30336b;
    border: none;
    font-size: 20px;
    padding: 0 15px;
}
button:hover{
    background-color: #22a6b3;
}
.btn_div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
